.header
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #4a76a8
  height: 46px

  & .container
    height: 100%

.logo
  font-weight: bold
  color: #fff

  & span
    background-color: #fff
    color: #4a76a8
    padding: 3px 2px
    border-radius: 5px
    font-weight: 600

  &-go-hom
    display: flex
    align-items: center
    max-width: 210px
    text-decoration: none